<!-- 
<div class="view-animate-container">
<div class="bar bar-header bar-light view-animate" ng-view>
  <h1 class="title">HOME</h1>
</div>

<ion-nav-view >

  <ion-content class="has-header" >
  	<button class="button button-full button-light" ng-click="navigatePage(1,$event)"> Light </button>
  	<button class="button button-full button-stable" ng-click="navigatePage(2)"> Stable </button>
  	<button class="button button-full button-calm" ng-click="navigatePage(3)"> Calm </button>
  	<button class="button button-full button-balanced" ng-click="navigatePage(4)"> Balanced </button>
  	<button class="button button-full button-energized" ng-click="navigatePage(5)"> Energized</button>
  	<button class="button button-full button-assertive" ng-click="navigatePage(6)"> Assertive </button>
  	<button class="button button-full button-royal" ng-click="navigatePage(7)"> Royal </button>
  	<button class="button button-full button-dark" ng-click="navigatePage(8)"> Dark </button>
  	<button class="button button-full button-positive" ng-click="navigatePage(8)"> Positive </button>
  </ion-content>
  </ion-view>
</div> -->


<ion-view>

<div class="bar bar-header bar-light view-animate" ng-view>
  <h1 class="title">HOME</h1>
</div>

<ion-content>

  
    <button class="button button-full button-light" ng-click="navigatePage(1,$event)"> Light </button>
    <button class="button button-full button-stable" ng-click="navigatePage(2)"> Stable </button>
    <button class="button button-full button-calm" ng-click="navigatePage(3)"> Calm </button>
    <button class="button button-full button-balanced" ng-click="navigatePage(4)"> Balanced </button>
    <button class="button button-full button-energized" ng-click="navigatePage(5)"> Energized</button>
    <button class="button button-full button-assertive" ng-click="navigatePage(6)"> Assertive </button>
    <button class="button button-full button-royal" ng-click="navigatePage(7)"> Royal </button>
    <button class="button button-full button-dark" ng-click="navigatePage(8)"> Dark </button>
    <button class="button button-full button-positive" ng-click="navigatePage(8)"> Positive </button>

</ion-content>
</ion-view>
