<ion-view title="{{menuItem.menu_name}}">
<ion-pane class="has-header">
<div style="height:100%" class="bg-light">
	<div class="row" style="height:44px"></div>
	<div class="row light-bg " style="height:48%" >

		<ion-slide-box style="width:100%" on-slide-changed="slideHasChanged($index)" show-pager="false">
		<ion-slide ng-repeat="img in itemImage">
		<div class="slideImage pd_5 pd_top"><img  ng-src="{{baseUrl}}/assets/uploads/{{img}}"> </div>
	</ion-slide>
</ion-slide-box>

</div>

<div class="row padding-false margin-false" style="height:52%">
	<div class="col col-60 light-bg pd_5 "><p>
		{{menuItem.menu_description}}<br><br>
		Good server for {{menuItem.menu_servefor}} persons.<br>
		<h5 class="{{baseType.c}}">{{baseType.t}}</h5>{{datatest}}<br>
	</p>
</div>
<div class="col col-40 stable-border stable-bg pd_5">
	<div class="row" style="width:100%; height:auto;">
		<div class="col clo-33">

			<div class="row pdl">
				<div class="col col-33 pdl pdt" style="text-align:center;"><button class="button button-small button-stabledark icon-minus" ng-click="addItemQuantity(false)"></button></div>
				<div class="col col-33 pdl pdt"><h3 class="quantity_num">{{itemQuantity}}</h3></div>
				<div class="col col-33 pdl pdt" style="text-align:center;"><button class="button button-small button-stabledark icon-plus" ng-click="addItemQuantity(true)"></button></div>
			</div>


		</div>
	</div>
	<div style="text-align:center">
		<button class="icon-checkmark button addbtn button-stabledark" ng-click="addItem()" ng-show="isShowAdd">Add</button>
		<button class="icon-remove button addbtn button-energized" ng-click="removeItem()" ng-show="!isShowAdd">Clear</button>
		<button class="button addbtn  button-stabledark icon-shipping full-btn" ng-click="doCheckout()"> Buy </button>
	</div>
	<div class="row pdl ">
		<div class="col  pdl pdt"><h3 class="quantity_num">$ {{(menuItem.menu_price*itemQuantity) | number:2}}</h3></div>
	</div>		
</div>
</div>
</div>
</ion-pane>
</ion-view>
