	<ion-view title="Menu">
  <ion-content class="has-header">


<div class="bar bar-header item-input-inset">
  <label class="item-input-wrapper">
    <i class="icon ion-ios7-search placeholder-icon"></i>
    <input type="search" placeholder="Search" ng-model="foodName">
  </label>
  <button class="button button-clear">
    Cancel
  </button>
</div>

    <ion-list>
      <ion-item ng-repeat="item in menuItemList | filter:foodName" class="item-thumbnail-left" type="item-text-wrap" href="#/tab/menudetails/{{item.id}}">
       


    <img ng-src="{{baseUrl}}assets/uploads/{{getImage(item.menu_image)[0]}}">
    <h2>{{item.menu_name}}</h2>
    <p>For {{item.menu_servefor}} persons</p>
    <h3 class="energized">{{item.menu_price}}</h3>
  </ion-item>

      </ion-item>
    </ion-list>
  </ion-content>
</ion-view>
