<section id="adminreservation" data-transition="slide">
    <header data-title="" class="extended">
        <nav class="box">
            <a href="#/homepage/list" data-router="section" data-label="BACK" class="icon chevron-left"></a>
        </nav>
    </header>
      <nav class="groupbar">
        <a href="#/adminreservation" data-router="article" data-label="Reservation" class="active"></a>
        <a href="#/menu" data-router="article" data-label="Menu" class=""></a>
        <a href="#/category" data-router="article" data-label="Category" class=""></a>
        <a href="#/superuser" data-router="article" data-label="Logout" class=""></a>
    </nav>
      <!-- ====================================menudetails=========================== --> 
      <p></p>
  <article id="form-normal" class="scroll active">
 

<div class="upper">
    <div class="wrap">
        <div class="right">
            <div class="searchModule">
                <span id="searchOptionsToggle" class="dropdownToggle">
                    <span class="currentValue">Entire Site</span>
                    <input type="button" class="icon" role="button" aria-label="Limit your search">
                </span>
            </div>
        </div>

        <div class="left">
            <h1 class="logo" style="" itemprop="provider">
                Reservation list
            </h1>
        </div>
    </div>
</div>



    </article>
  
</section>

