<html class=" scroll-enabled"><head>
    <meta charset="utf-8">
    <title>Brownie - Lungo 2.2</title>
    <meta content="" name="description">
    <meta content="Javier Jiménez Villar (@soyjavi)" name="author">
    <meta content="True" name="HandheldFriendly">
    <meta content="initial-scale=1.0, maximum-scale=1.0, user-scalable=no" name="viewport">
    <meta content="yes" name="apple-mobile-web-app-capable">
    <meta content="black" name="apple-mobile-web-app-status-bar-style">
    <meta content="telephone=no" name="format-detection">
    <meta content="on" http-equiv="cleartype">

    <!-- iPhone -->
    <link rel="apple-touch-icon" sizes="57x57" href="http://cdn.tapquo.com/lungo/icon-57.png">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 1)" href="http://cdn.tapquo.com/lungo/startup-image-320x460.png">

    <!-- iPhone (Retina) -->
    <link rel="apple-touch-icon" sizes="114x114" href="http://cdn.tapquo.com/lungo/icon-114.png">
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 480px)
             and (-webkit-device-pixel-ratio: 2)" href="http://cdn.tapquo.com/lungo/startup-image-640x920.png">

    <!-- iPhone 5 -->
    <link rel="apple-touch-startup-image" media="(device-width: 320px) and (device-height: 568px)
             and (-webkit-device-pixel-ratio: 2)" href="http://cdn.tapquo.com/lungo/startup-image-640x1096.png">

    <!-- iPad -->
    <link rel="apple-touch-icon" sizes="72x72" href="http://cdn.tapquo.com/lungo/icon-72.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: portrait)
             and (-webkit-device-pixel-ratio: 1)" href="http://cdn.tapquo.com/lungo/startup-image-768x1004.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: landscape)
             and (-webkit-device-pixel-ratio: 1)" href="http://cdn.tapquo.com/lungo/startup-image-748x1024.png">

    <!-- iPad (Retina) -->
    <link rel="apple-touch-icon" sizes="144x144" href="http://cdn.tapquo.com/lungo/icon-144.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: portrait)
             and (-webkit-device-pixel-ratio: 2)" href="http://cdn.tapquo.com/lungo/startup-image-1536x2008.png">
    <link rel="apple-touch-startup-image" media="(device-width: 768px) and (device-height: 1024px)
             and (orientation: landscape)
             and (-webkit-device-pixel-ratio: 2)" href="http://cdn.tapquo.com/lungo/startup-image-1496x2048.png">

    <!-- Main Stylesheet -->
    <link href="components/lungo/lungo.css" rel="stylesheet">
    <link href="components/lungo/lungo.theme.css" rel="stylesheet">
    <link href="components/lungo/lungo.icon.css" rel="stylesheet">
    <!-- App Stylesheet -->
    <link href="static/stylesheets/app.css" rel="stylesheet">
</head>

<body data-device="tablet" data-position="fixed">
    <section class="drag" data-aside="features" data-transition="slide" id="main">
        <header>
            <nav>
                <a data-icon="menu" data-view-aside="features" href="#"><span class="icon menu"></span></a>
            </nav>
            <img class="title centered" src="static/images/logo.png">
            <nav class="on-right">
                <a href="#"><abbr class="text tiny ">v2.2</abbr></a>
            </nav>
        </header>

        <nav data-article="icon-symbol icon-media icon-toolbar icon-social icon-item" data-control="groupbar" class="hide">
            <a data-async="static/articles/icon-symbol.html" data-label="Symbol" data-view-article="icon-symbol" href="#"><abbr>Symbol</abbr></a>
            <a data-async="static/articles/icon-media.html" data-label="Media" data-view-article="icon-media" href="#"><abbr>Media</abbr></a>
            <a data-async="static/articles/icon-toolbar.html" data-label="Toolbar" data-view-article="icon-toolbar" href="#"><abbr>Toolbar</abbr></a>
            <a data-async="static/articles/icon-social.html" data-label="Social" data-view-article="icon-social" href="#"><abbr>Social</abbr></a>
            <a data-async="static/articles/icon-item.html" data-label="Item" data-view-article="icon-item" href="#"><abbr>Item</abbr></a>
        </nav>

        <nav data-article="list list-indented list-examples" data-control="groupbar" class="hide">
            <a data-label="Normal" data-icon="checkmark" data-view-article="list" href="#"><span class="icon checkmark"></span><abbr>Normal</abbr></a>
            <a data-label="Indented" data-view-article="list-indented" href="#"><abbr>Indented</abbr></a>
            <a data-label="Examples" data-view-article="list-examples" href="#"><abbr>Examples</abbr></a>
        </nav>

        <article class="list indenteds scroll active" id="main-article">
            <ul>
                <li class="text small">
                    A framework based on HTML5 for developers who want to design, build and share cross device Apps.
                </li>
                <li>
                    <strong class="text bold">Optimized</strong>
                    <span class="text tiny">
                        Lungo supports open web standards, such as HTML5, CSS3 and JavaScript. It brings consistent browser environment across mobiles, tvs and desktop devices.
                    </span>
                </li>
                <li>
                    <strong class="text bold">Powerfull JavaScript API</strong>
                    <span class="text tiny">
                        There are many ways to create apps, and not always is optimized. Lungo offers you a robust API so you can have complete control of your app.
                    </span>
                </li>
                <li>
                    <strong class="text bold">Lightweight &amp; Scalable</strong>
                    <span class="text tiny">
                        Create apps for each platform is hard, this situation is increased by the arrival of new devices. Lungo will suit all of them creating a unique and amazing UX.
                    </span>
                </li>
                <li>
                    <strong class="text bold">Real Cross-Device</strong>
                    <span class="text tiny">
                        Create apps for each platform is hard, this situation is increased by the arrival of new devices. Lungo will suit all of them creating a unique and amazing UX.
                    </span>
                </li>
                <li>
                    <strong class="text bold">Open Source Project</strong>
                    <span class="text tiny">
                        Each new line of code in Lungo is welcome, we hope that Developers and restless minds help us to improve day by day this humble project.
                    </span>
                </li>
                <li>
                    <a data-label="Tweet me" class="button theme" target="_blank" href="https://twitter.com/intent/tweet?original_referer=http%3A%2F%2Flungo.tapquo.com%2F&amp;text=@lungojs a framework for developers who want to design, build and share cross device apps"><abbr>Tweet me</abbr></a>

                    <a data-label="Go to Project's page" class="button margin-top secondary" target="_blank" href="http://lungo.tapquo.com"><abbr>Go to Project's page</abbr></a>
                </li>
            </ul>
        </article>
    </section>

    <!-- Lungo dependencies -->
    <script src="components/quojs/quo.js"></script>
    <script src="components/lungo/lungo.js"></script><div class="notification"><div class="window growl show"><div class="loading white">
  <span class="top"></span>
  <span class="right"></span>
  <span class="bottom"></span>
  <span class="left"></span>
</div></div></div>
    <!-- LungoJS - Sandbox App -->
    <script>
        Lungo.init({
            name: 'Kitchen Sink',A
            version: '2.1.0222',
            resources: [
                'static/asides/features.html',
                'static/asides/right.html',
                'static/sections/form.html'],
            history: false
        });
    </script>
    <aside data-transition="left" id="features" class="show box">
    <header data-title="Features"><h1 class="title centered">Features</h1>
        <nav class="on-right">
            <a data-icon="settings" class="buttons" href="#"><span class="icon settings"></span></a>
        </nav>
    </header>

    <article class="list scroll active">
        <ul>
            <!-- Basic Layout -->
            <li data-icon="question-sign" data-view-article="main-article" class=""><span class="icon question-sign"></span>
                <strong>Meet the framework</strong>
                <small>Real Cross-Device</small>
            </li>

            <!-- Layout & Navigation -->
            <li data-icon="user" data-view-section="layout"><span class="icon user"></span>
                <div class="tag on-right">5</div>
                <strong>Layout</strong>
            </li>

            <!-- List -->
            <li data-icon="list" data-async="static/articles/list.html" data-view-article="list"><span class="icon list"></span>
                <div class="tag on-right">22</div>
                <strong>Lists</strong>
            </li>

            <!-- Forms -->
            <li data-icon="check" data-view-section="form"><span class="icon check"></span>
                <div class="tag on-right">8</div>
                <strong>Form Elements</strong>
            </li>

            <!-- Asides -->
            <li data-icon="signout" data-async="static/sections/aside.html" data-view-section="aside"><span class="icon signout"></span>
                <strong>Aside</strong>
            </li>

            <!-- Menu -->
            <li data-icon="menu" data-async="static/sections/menu.html" data-view-section="menu"><span class="icon menu"></span>
                <div class="tag on-right">2</div>
                <strong>Menu</strong>
            </li>

            <!-- Data-Attributes -->
            <li data-icon="tag" data-async="static/articles/data.html" data-view-article="data"><span class="icon tag"></span>
                <div class="tag on-right">9</div>
                <strong>Data-attributes</strong>
            </li>

            <!-- Icons -->
            <li data-icon="check-empty" data-async="static/articles/icon-symbol.html" data-view-article="icon-symbol"><span class="icon check-empty"></span>
                <div class="tag on-right">+250</div>
                <strong>Icons</strong>
            </li>

            <!-- Scrolls -->
            <li data-icon="download" data-async="static/sections/scroll.html" data-view-section="scroll"><span class="icon download"></span>
                <div class="tag on-right">2</div>
                <strong>Scrolls</strong>
            </li>

            <!-- Touch Events -->
            <li data-icon="magic" data-async="static/articles/touchevents.html" data-view-article="touchevents"><span class="icon magic"></span>
                <div class="tag on-right">19</div>
                <strong>Touch Events</strong>
            </li>

            <!-- Layout Events -->
            <li data-icon="link" data-async="static/sections/layoutevents.html" data-view-section="layoutevents"><span class="icon link"></span>
                <div class="tag on-right">2</div>
                <strong>Layout Events</strong>
            </li>

            <!-- Notifications -->
            <li data-icon="info-sign" data-async="static/articles/notification.html" data-view-article="notification"><span class="icon info-sign"></span>
                <div class="tag on-right">8</div>
                <strong>Notifications</strong>
            </li>

            <!-- Pull & Refresh -->
            <li data-icon="resize-vertical" data-async="static/sections/pull.html" data-view-section="pull"><span class="icon resize-vertical"></span>
                <div class="tag on-right">1</div>
                <strong>Pull &amp; Refresh</strong>
            </li>

            <!-- Carousel -->
            <li data-icon="picture" data-async="static/sections/carousel.html" data-view-section="carousel"><span class="icon picture"></span>
                <div class="tag on-right">1</div>
                <strong>Carousel</strong>
            </li>

            <!-- Environment -->
            <li data-icon="mobile-phone" data-async="static/articles/environment.html" data-view-article="environment"><span class="icon mobile-phone"></span>
                <div class="tag on-right">1</div>
                <strong>Environment</strong>
            </li>

            <!-- Buttons & Colours -->
            <li data-icon="tint" data-async="static/articles/buttons.html" data-view-article="buttons"><span class="icon tint"></span>
                <div class="tag on-right">14</div>
                <strong>Buttons &amp; Colours</strong>
            </li>

            <!-- Grid System -->
            <li data-icon="grid" data-async="static/articles/grid.html" data-view-article="grid"><span class="icon grid"></span>
                <strong>Grid System</strong>
            </li>
        </ul>
    </article>
</aside>
<aside data-transition="right" id="right">
    <header data-title="Example of Aside"><h1 class="title centered">Example of Aside</h1></header>
    <article class="list active">
        <ul>
            <li data-icon="user" data-view-aside="right"><span class="icon user"></span>
                <strong>Tap to close</strong>
            </li>
        </ul>
    </article>
</aside>
<section data-transition="slide" id="form">
    <header data-back="chevron-left" data-title="Form Elements"><nav class="left"><a data-view-section="back" href="#"><span class="icon chevron-left"></span></a></nav><h1 class="title centered">Form Elements</h1>
        <nav class="on-right">
            <button data-label="test"><abbr>test</abbr></button>
            <button data-icon="edit"><span class="icon edit"></span></button>
        </nav>
    </header>

    <nav data-control="groupbar">
        <a class="" data-label="Normal" data-view-article="form-normal" href="#"><abbr>Normal</abbr></a>
        <a data-label="Indented" data-view-article="form-indented" href="#"><abbr>Indented</abbr></a>
        <a data-label="Specials" data-view-article="form-special" href="#"><abbr>Specials</abbr></a>
    </nav>

    <article class="scroll" id="form-normal">
        <div class="form">
            <!-- LABEL + INPUT -->
            <fieldset>
                <label>label</label>
                <input type="text" placeholder="value">

                <label>label</label>
                <input type="text" class="text align_right error" placeholder="value on right">

                <label class="absolute">label</label>
                <input type="text" class="large text  bold align_center" placeholder="value on center">

                <label>label</label>
                <label class="select ">
                    <select class="custom">
                        <option value="1">HTML5 Jedi</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </label>

                <label>label</label>
                <input type="date" value="10/04/1980" placeholder="Select finish" class="align_right">
            </fieldset>


            
            <!-- INPUT -->
            <fieldset>
                <input type="text" placeholder="value" class="text align_center" id="description">
            </fieldset>
            <fieldset>
                <textarea placeholder="Write something..."></textarea>
            </fieldset>
            <fieldset>
                <label class="select">
                    <select class="custom">
                        <option value="1">HTML5 Jedi</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </label>
            </fieldset>

            <fieldset>
                <input type="date" value="10/04/1980" placeholder="Select finish" class="align_right">
            </fieldset>

            <fieldset>
                <label class="anchor">label Lorem ipsum dolor sit amet</label>
                <input type="checkbox" class="inline right">
             </fieldset>

            <fieldset data-icon="plus"><span class="icon plus"></span>
                <label>label</label>
                <input type="text" value="value">
            </fieldset>
        </div>
    </article>

    <article class="indented scroll" id="form-indented">
        <div class="form">
            <!-- LABEL + INPUT -->
            <label>label +  input</label>
            <fieldset class="radius unshadowing">
                <label>label</label>
                <input type="text" placeholder="value">

                <label>label</label>
                <input type="text" class="text align_right error" placeholder="value on right">

                <label class="absolute">label</label>
                <input type="text" class="large text align_center" placeholder="value on center">

                <label>label</label>
                <label class="select ">
                    <select class="custom">
                        <option value="1">HTML5 Jedi</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </label>

                <label>label</label>
                <input type="date" value="10/04/1980" placeholder="Select date" class="align_right">
            </fieldset>

            <!-- INPUT -->
            <label>input</label>
            <fieldset class="radius-top">
                <input type="text" placeholder="value" class="text align_center" id="description">
            </fieldset>
            <fieldset>
                <textarea placeholder="Write something..."></textarea>
            </fieldset>
            <fieldset>
                <label class="select">
                    <select class="custom">
                        <option value="1">HTML5 Jedi</option>
                        <option value="2">Two</option>
                        <option value="3">Three</option>
                    </select>
                </label>
            </fieldset>


            <fieldset>
                <label class="anchor">label Lorem ipsum dolor sit amet</label>
                <div class="inline on-right" data-control-checkbox="check_indent"></div>
             </fieldset>


            <fieldset class="radius-bottom unshadowing">
                <input type="date" value="10/04/1980" placeholder="Select finish" class="align_right">
            </fieldset>


            <label>label + input +  icon</label>
            <fieldset data-icon="plus"><span class="icon plus"></span>
                <label>label</label>
                <input type="text" value="value">
            </fieldset>
        </div>
    </article>

    <article class="indented scroll" id="form-special">
        <div class="form">
            <label>Specials</label>
            <fieldset data-icon="search"><span class="icon search"></span>
                <input type="search" placeholder="Search...">
            </fieldset>


            <label>Address</label>
            <input type="text" class="border" placeholder="placeholder">
            <input type="text" value="error" class="border error" placeholder="placeholder">
            <input type="text" value="success" class="border success" placeholder="placeholder">

            <div class="layout horizontal">
                <div data-layout="third">
                    <label>Address</label>
                    <input type="text" class="border" placeholder="placeholder">
                </div>
                <div data-layout="primary">
                    <label>Pin Code</label>
                    <input type="password" disabled="" class="border" value="value">
                </div>
            </div>

            <label>Select your skill</label>
            <label class="select border">
                <select>
                    <option value="1">HTML5 Jedi</option>
                    <option value="2">Two</option>
                    <option value="3">Three</option>
                </select>
            </label>

            <label>Progress</label>
            <div data-progress="25%" id="progress-normal"><div class="progress">
  <span class="bar"><span style="width:25%;" class="value"></span></span>
</div></div>

            <label>Range</label>
            <input type="range" max="8" min="0" placeholder="type your name">

            <br>

            <button data-label="Normal" class="anchor margin-bottom"><abbr>Normal</abbr></button>
            <button data-label="Accept" data-icon="ok" class="anchor accept margin-bottom"><span class="icon ok"></span><abbr>Accept</abbr></button>
            <button data-label="Cancel" data-icon="remove" class="anchor cancel margin-bottom"><span class="icon remove"></span><abbr>Cancel</abbr></button>
            <button data-label="Warning" data-icon="remove" class="anchor warning margin-bottom"><span class="icon remove"></span><abbr>Warning</abbr></button>
            <button data-label="Color" data-icon="plus" class="anchor color margin-bottom"><span class="icon plus"></span><abbr>Color</abbr></button>
            <button data-label="Disabled" class="anchor disabled"><abbr>Disabled</abbr></button>
        </div>
    </article>
</section>

    <script src="static/javascripts/app.js"></script>


<section data-transition="slide" id="layout" class="show">
    <header data-back="chevron-left" data-title="Layout"><nav class="left"><a data-view-section="back" href="#"><span class="icon chevron-left"></span></a></nav><h1 class="title centered">Layout</h1>
        <nav class="on-right">
            <button data-icon="user" data-async="static/sections/splash.html" data-view-section="splash"><span class="icon user"></span></button>
        </nav>
    </header>

    <nav data-control="groupbar">
        <a class="active" data-label="Profile" data-view-article="layout-art1" href="#"><abbr>Profile</abbr></a>
        <a data-count="19" data-label="Inbox" data-view-article="layout-art2" href="#"><abbr>Inbox</abbr><span class="tag count">19</span></a>
        <a data-label="Map" data-view-article="layout-art3" href="#"><abbr>Map</abbr></a>
        <a data-label="Settings" data-view-article="layout-art4" href="#"><abbr>Settings</abbr></a>
    </nav>

    <article id="layout-art1" class="active"><div class="empty">
            <span class="icon user"></span>
            <strong>Profile Empty</strong>
            <small>When you back a project or follow a friend, their activity will show up here.</small>
            <button data-label="Please update..." class="anchor"><abbr>Please update...</abbr></button>
        </div>

    </article>
    <article id="layout-art2">
        <div class="empty">
            <span class="icon inbox"></span>
            <strong>Inbox Empty</strong>
            <small>When you back a project or follow a friend, their activity will show up here.</small>
        </div>
    </article>
    <article id="layout-art3">
        <div class="empty">
            <span class="icon comments"></span>
            <strong>Comments Empty</strong>
            <small>When you back a project or follow a friend, their activity will show up here.</small>
        </div>
    </article>
    <article id="layout-art4">
        <div class="empty">
            <span class="icon cog"></span>
            <strong>Settings Empty</strong>
            <small>When you back a project or follow a friend, their activity will show up here.</small>
        </div>
    </article>

    <footer>
        <nav>
            <a class="active" data-icon="user" data-view-article="layout-art1" href="#"><span class="icon user"></span></a>
            <a data-count="80" data-icon="inbox" data-view-article="layout-art2" href="#"><span class="icon inbox"></span><span class="tag count">80</span></a>
            <a data-icon="comments" data-view-article="layout-art3" href="#"><span class="icon comments"></span></a>
            <a data-icon="cog" data-view-article="layout-art4" href="#"><span class="icon cog"></span></a>
        </nav>
    </footer>
</section>
</body></html>