
<section id="contactus" data-transition="slide" class="show">
    <header data-title="Contact Us" data-back="chevron-left">
        <nav class="left">
            <a href="#" data-view-section="back">
            <span class="icon chevron-left"></span>
            </a>
        </nav>

    </header>
    <nav class="groupbar">
        <a href="#/contactus/map" data-router="article" data-label="Map" class="active"></a>
        <a href="#/contactus/contact_form" data-router="article" data-label="Contact form" class=""></a>
    </nav>
    

      <article id="map" class="list scroll active">
        <div>
         <ul>
                    <li class="anchor" data-icon="star"><span class="icon star"></span>Specials for iOS</li>
                    <li data-icon="pushpin"><span class="icon pushpin"></span>
                        <a href="http://maps:ll=38.870454,-77.055702">
                        View a point in a map
                        <small>href="maps:"</small></a></li>
                    <li data-icon="target"><span class="icon target"></span>
                        <a href="maps:ll=38.870454,-77.055702&amp;z=10">
                        View a point in a map (zoom)
                        <small>href="maps: &amp;z=10"</small></a></li>
                </ul>
            </div>
               
    </article>
 <article id="contact_form" class="active">
    <div class="form" style="margin-top:40px">
            <fieldset>
                <label>Name:</label>
                <input type="text" placeholder="Your name">
            </fieldset>
            <fieldset>
                <label>Email:</label>
                <input type="text" placeholder="Your email">
            </fieldset>
            <fieldset data-icon="pencil">
                <label>Subject:</label>
                <input type="text">
            </fieldset>
            <fieldset>
                <label>Phone number:</label>
                <br>
                <input type="text">
            </fieldset>
            <fieldset>
                <textarea></textarea>
            </fieldset>
            <a href="#form-extras" data-router="article" class="button anchor accept" data-label="Send Form"></a>
        </div>
     <!-- <div class="large text  bold align_center"><img src="assets/images/contact.jpg"> </div> 
        <div id="buttons" class="scrollable indented  current">
             <div class="large text  bold align_center">
                <h3 class="large text  bold align_center">The Restaurant</h3>
                <p>Sudhirman Street No.12 west jakarta 13904</p>
                <p>reservation@restaurant.com</p>
            </div>    
               <a href="tel:+9496812275" class="button anchor margin-bottom">Call us</a>
               <a href="mailto:javi@tapquo.com" class="button anchor margin-bottom">Email us</a>
        </div> -->
    </article>
</section>

