
<section id="homepage" data-transition="slide" class="show">
    <header data-title="RESTAURANT" class="extended"><span class="title centered">RESTAURANT</span>
        <nav class="box">
              <a href="#/homepage" data-router="section" data-label="BACK" class="icon chevron-left"></a>
        </nav>
        <nav class="right">
            <a href="#/homepage/login" data-router="section" class="button" data-icon="user" data-label="Splash"></a>
            <!-- <button data-view-section="splash" data-async="homepage/login" data-icon="user"></button> -->
        </nav>
    </header>
    <nav class="groupbar">
        <a href="#/order/myorder" data-router="article" data-label="" class=""></a>
        <a href="#/myplate/editplate" data-router="article" data-label="" class="active"></a>
    </nav>
  
    <!-- =============================login to facebook============================= -->
    <article id="login" class="scroll active">
        <div class="login_detail">
            <div class="menu_linelogin" style="font-size:14px;font-weight:bold;margin-left:1;">
                <h1 class="headings"><strong><b>ACCOUNT SETTING</b></strong></h1>
            </div>

            <div class="menu_linelogin">
            <div class="log_textbox1"><h2 class="title">Login to Facebook</h2></div>
            <div class="log_textbox2">
                <a href="http://www.facebook.com">
                <img src="assets/images/next_button.png" />
                </a>
            </div>
            </div>
           
            <div class="menu_linelogin">
            <div class="log_textbox1"><h2 class="title">Login to Twitter</h2></div>
            <div class="log_textbox2">
                <a href="http://www.twitter.com"><img src="assets/images/next_button.png" /></a>
            </div>
            </div>
        <div style="text-align:center;margin-top:50px"><p><h1 class="headings">Or </h1></p></div>
        <div class="form">
            <div style="text-align:left;margin-top:50px"><p><h1 style="color:#E47911" class="title">Sign In </h1></p></div>
            <div style="text-align:left;margin-top:20px">
            <fieldset>
                <label>Your Email:</label>
                <input type="text" placeholder="">
            </fieldset>
           
            <fieldset>
                <label>Password:</label>
                <input type="password">
            </fieldset>
           </div>
            <div style="text-align:left;margin-top:10px">
            <a href="#/myplate" data-router="article" class="button anchor accept" data-label="Sign In"></a>
        </div>
        </div>
    </div>
    </article>
     <!-- =============================show All menus============================= -->
      <article id="showallmenu" class="list scroll active">
        <div>Search: <input ng-model="query" ></div>
        <div style="height:40px"> 
            <ul class="thumb">
                <li  ng-repeat="cat in ShowmenuByCat | filter:query:menu_category" class="thumbnail phone-listing">
              <img  src="assets/images/{{cat.menu_image}}">
                 <p>
                    <strong>
                        <a href="#/homepage/menudetail/{{cat.menu_id}}" >{{cat.menu_name}} </a>
                      
                    </strong></p>
                    <p>${{cat.menu_price}}</p>
                </li>
            </ul>
        </div>
    </article>
     <!-- =============================menudetail============================= -->
     <article id="menudetail" class="scroll active">
     <div class="large text  bold align_center">
      <img src="assets/images/caprese_salad.jpg"> </div> 
        <div id="buttons" class="scrollable indented  current" ng-controller="PostCtrl">
             <div class="large text  bold align_center">
                <h3 class="large text  bold align_center">{{post.menu_id}}{{post.menu_name}}</h3>
                <p>$7.5</p>
                <p>Serve for 4 people</p>
                <p>Lorem ipsum</p>
            </div>    
               <a href="#/order/myorder" class="button anchor margin-bottom">Add this to my order</a>
               <a href="#/homepage/share" class="button anchor margin-bottom">Share this</a>
        </div>
    </article>
     <!-- =============================Share============================= -->

    <article id="share" class="scroll active">
        <div class="login_detail">
            <div class="menu_linelogin" style="font-size:14px;font-weight:bold;margin-left:1;">
                <h1 class="headings"><strong><b>Share</b></strong></h1>
            </div>
            <div class="menu_linelogin">
                <fieldset>
                    <textarea rows="2" cols="50"></textarea>
                </fieldset>
            </div>
            <div class="menu_linelogin">
                <div class="log_textbox1"><h2 class="title">Login to Facebook</h2></div>
                    <div class="log_textbox2">
                        <a href="http://www.facebook.com">
                        <img src="assets/images/next_button.png" />
                        </a>
                    </div>
            </div>
            <div class="menu_linelogin">
                <div class="log_textbox1"><h2 class="title">Login to Twitter</h2></div>
                <div class="log_textbox2">
                    <a href="http://www.twitter.com"><img src="assets/images/next_button.png" /></a>
                </div>
            </div>
    </div>
    <div id="buttons" class="scrollable indented  current">
        <a href="#" class="button anchor margin-bottom">Post</a>
    </div>
    </article>
      <!-- =============================category list============================= -->
     <article id="menus" class="list scroll active">
        <ul>
            <li class="thumb" data-ng-repeat="item in menuData">
                 <img src="assets/images/logo.jpg"> 
                <div style="height:30px">
                    <div class="on-right text tiny">
                        <strong>
                        <a href="#/homepage/menuitems" >{{item.subcategory_name.toUpperCase()}} </a>
                        </strong>
                    </div>
                </div>
            </li>
        </ul>                   
    </article>
      <!-- =============================menu items by category============================= -->
    <article id="menuitems" class="list scroll active">
        <div>
            <p class="margin bottom">
                    <a id="veg" href="#/homepage/menuitems" class="button">VEG</a>
                    <a id="nonveg" href="#/homepage/menuitems" class="button">NON VEG</a>
            </p>
        </div>
        <div>
            <ul>
                <li class="thumb" data-ng-repeat="item in Showmenu">
                     <img src="assets/images/logo.jpg"> 
                    <div style="height:30px">
                        <div class="on-right text tiny">
                            <a href="#/homepage/menudetail" ><strong>{{item.menu_name.toUpperCase()}}</strong></a>
                             ${{item.menu_price}}
                        </div>
                    </div>
                </li>
            </ul>
        </div>  
    </article>

   <!-- ============================= reservation ============================= -->
<article id="form-normal" class="scroll active">
        <div class="form">
            <!-- LABEL + INPUT -->
        <!--      <input type="text" placeholder="Input text" class="large text  bold align_center"> -->
            <fieldset>
                <input type="text" placeholder="Your name" class="large text  bold align_center">
            </fieldset>
            <fieldset>
                <input type="text" placeholder="Number of people" class="large text  bold align_center">
            </fieldset>
            <fieldset>                  
                <input type="date" class="large text align_center" placeholder="Select finish" value="10/04/1980">
            </fieldset>
            <fieldset>                  
                <input type="time" class="large text align_center" placeholder="Select finish" value="00:00">
            </fieldset>
            <!-- INPUT -->
            <fieldset>
                <input type="text" id="phno" class="large text  bold align_center" placeholder="Phone number">
            </fieldset>
            <fieldset>
                <textarea class="large text  bold align_center" placeholder="No order"></textarea>
            </fieldset>
            <fieldset>
                <input type="text" id="comment" class="large text  bold align_center" placeholder="Comment(optional)">
            </fieldset>           
        </div>
        <div id="buttons" class="scrollable indented  current">
               <a href="#" class="button anchor margin-bottom">Send Reservation</a>
            </div>
    </article>
     <!-- =============================Track my order============================= -->
     <article id="trackmyorder" class="list scroll active">
          <div class="menu_details">
            <!-- <div class="menu_line">
            <div class="menu_order_1" style="background-color:#FF6633">Total order:(Tax 10.0%)</div>
                <div class="menu_order_2" style="background-color:#FF6633"></div>
                <div class="menu_order_3" style="background-color:#FF6633">$33.0</div>
            </div> -->
            <div class="menu_line" style="background-color:#CCCC99;font-size:14px;font-weight:bold"><h1 class="title"> Status</h1></div>
            <div class="menu_line">
                <div class="menu_order_1">Crispy Sweet Pottato</div>
                <div class="menu_order_2">1</div>
                <div class="menu_order_3">processing</div>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Chicken Wings</div>
                <div class="menu_order_2">1</div>
                <div class="menu_order_3">ready for delivery</div>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Pasta with Olives and Parsley</div>
                <div class="menu_order_2">1</div>
                <div class="menu_order_3">packing</div>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Lemon Tea</div>
                <div class="menu_order_2">2</div>
                <div class="menu_order_3">processing</div>
            </div>
            <div class="menu_line">
                <div class="menu_order_1"></div>
                <div class="menu_order_2"></div>
                <div class="menu_order_3">In Kitchen</div>
            </div>
        </div>
        <!-- <div id="buttons" class="scrollable indented  current">
            <a href="#/homepage/login" class="button anchor margin-bottom">Buy Order</a></br>
            <a href="#/homepage/myorder" class="button anchor margin-bottom">Clear all Order</a>
        </div> -->
    </article>
     
     <section id="contacts">
        <header data-back="home" data-title="Categorías">
        </header>
        <article id="directory_cats_list" class="list">
        </article>
    </section>

    <!-- ========================================================================== -->
    <footer>
        <nav>
            <a href="#homepage" data-router="article" data-icon="home" class="active"></a>
            <a href="#/homepage/contact" data-router="article" data-icon="inbox" class=""></a>
            <a href="#layout-art4" data-router="article" data-icon="settings" class=""></a>
        </nav>
    </footer>

    <!-- <article id="categorylist" class="active"></article> -->
    <article id="homepage" class="active"></article>
    <article id="homepage/contact"></article>
    <article id="layout-art3" class=""></article>
    <article id="layout-art4" class=""></article>
</section>

