


<section id="homepage" data-transition="slide" class="show">
    <header data-title="HOME" class="extended"><span class="title centered">HOME</span>
       <!--  <nav class="left"><a href="#" data-view-section="back"><span class="icon chevron-left"></span></a></nav> -->
        <nav class="box">
            <a href="#" data-router="section" data-label="back">
                <span class="icon chevron-left"></span></a>
        </nav>
        <nav class="right">
            <button data-view-section="splash" data-async="static/sections/splash.html" data-icon="user"></button>
          <!--   <a href="#splash" data-router="section" data-async="app/sections/splash.html" class="button" data-icon="user">
           </a> -->
        </nav>
    </header>

    <nav class="groupbar">
        <a href="#/subcategorylist" data-router="article" data-label="MENU LIST" class=""></a>
        <a href="#layout-art2" data-router="article" data-label="YOUR ORDER" class=""></a>
        <a href="#layout-art3" data-router="article" data-label="RESERVATION" class=""></a>
    </nav>

    <footer>
        <nav>
            <a href="#layout-art1" data-router="article" data-icon="home" class="active"></a>
            <a href="#layout-art2" data-router="article" data-icon="inbox" class=""></a>
            <a href="#layout-art4" data-router="article" data-icon="settings" class=""></a>
        </nav>
    </footer>

    <article id="subcategorylist" class="active"></article>
    <article id="layout-art2"></article>
    <article id="layout-art3" class=""></article>
    <article id="layout-art4" class=""></article>
</section>