<section id="menudetail" data-transition="slide">
<header data-title="MENU" class="extended">

		<nav class="box">
			<a href="#/" data-router="section" data-label="BACK" class="icon chevron-left"></a>
		</nav>

	</header>

	<nav class="groupbar">
		<a href="#list-normal" data-router="article" class="active" data-icon="checkmark" data-label="Normal"></a>
		<a href="#list-indented" data-router="article" data-label="Indented"></a>
	</nav>

	<!-- <article id="list" class="list scroll active">

	<p> small changes done </p>
		
		             
	</article>
 -->

 <article class="active" id="menudetail">
        <h1>.<a href="#">scroll stylesheet class</a></h1>
        
        <h1>.horizontal.scroll stylesheet classes</h1>
        <ul class="horizontal scroll" style="height: 164px;">
            <img src="http://lorempixel.com/320/164/food/">
            <img src="http://lorempixel.com/320/164/sports/">
            <img src="http://lorempixel.com/320/164/people/">
            <img src="http://lorempixel.com/320/164/technics/">
            <img src="http://lorempixel.com/320/164/animals/">
            <img src="http://lorempixel.com/320/164/nightlife/">
            <img src="http://lorempixel.com/320/164/nature/">
            <img src="http://lorempixel.com/320/164/transport/">
            <img src="http://lorempixel.com/320/164/city/">
            <img src="http://lorempixel.com/320/164/fashion/">
            <img src="http://lorempixel.com/320/164/abstract/">
        </ul>
    </article>
	       <footer>
        <nav>
            <a href="#" data-view-article="layout-art1" data-icon="user" class="active">
            	<span class="icon user"></span></a>
            <a href="#" data-view-article="layout-art2" data-icon="inbox" data-count="80" class=""><span class="icon inbox"></span>
            	<span class="tag count">80</span></a>
            <a href="#" data-view-article="layout-art3" data-icon="comments" class="">
            	<span class="icon comments"></span></a>
            <a href="#" data-view-article="layout-art4" data-icon="cog" class="">
            	<span class="icon cog"></span></a>
        </nav>
    </footer>                
	

</section>