<!-- <section id="menudetails" data-transition="slide">

	<header data-title="MENU" class="extended">

		<nav class="box">
			<a href="#/" data-router="section" data-label="BACK" class="icon chevron-left"></a>
		</nav>

	</header>

	<nav class="groupbar">
		<a href="#list-normal" data-router="article" class="active" data-icon="checkmark" data-label="Normal"></a>
		<a href="#list-indented" data-router="article" data-label="Indented"></a>
	</nav>

	<article id="list" class="list scroll active">

		<ul>

			<li class="thumb" data-ng-repeat="item in menuData">
				<img src="http://cdn.tapquo.com/lungo/icon-144.png">
				<div>
					<div class="on-right text tiny"><strong>{{item.menu_name.toUpperCase()}} </strong></div>
					<span class="text small">
						Can serve for {{item.menu_servefor}} and approximatly $ {{item.menu_price}}
					</span>
				</div>
			</li>

		</ul>
		<p><input type="text" ng-model="message" /></p>                        
	</article>

</section> -->

<section id="menudetails" data-transition="pop">

	<header data-title="MENU" class="extended">
		<nav class="box">
		 <a data-icon="menu" lab-aside="aside1"></a>
			<a href="#/" data-router="section" data-label="BACK" class="icon chevron-left"></a>
		</nav>
	</header>



<article>
	<div class="row.one">1</div>
	<div class="row.three">3</div>
	<div class="row.five">5</div>
	<div class="row.one">1</div>
</article>




</section>