<section id="myplate" data-transition="slide" class="show">
    <header data-title="My Plate" data-back="chevron-left">
        <nav class="left">
            <a href="#" data-view-section="back">
            <span class="icon chevron-left"></span>
            </a>
        </nav>
    </header>
    <nav class="groupbar">
        <a href="#/order/myorder" data-router="article" data-label="My Order" class=""></a>
        <a href="#/myplate/editplate" data-router="article" data-label="Edit My Plate" class="active"></a>
    </nav>
  
     <article id="editplate" class="list scroll active" style="overflow: hidden;">
       <div class="menu_details">
            <div class="menu_line" style="background-color:#CCCC99;font-size:14px;font-weight:bold">
                <h1 class="title"> Edit Plate</h1>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Crispy Sweet Poroto</div>
                <div class="menu_order_2"><input type="text" value="1"></div>
                <div class="menu_order_3">$7.0</div>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Chicken Wings</div>
                <div class="menu_order_2"><input type="text" value="1"></div>
                <div class="menu_order_3">$7.0</div>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Pasta with Olives and Parsley</div>
                <div class="menu_order_2"><input type="text" value="1"></div>
                <div class="menu_order_3">$8.0</div>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Lemon Tea</div>
                <div class="menu_order_2"><input type="text" value="2"></div>
                <div class="menu_order_3">$7.0</div>
            </div>
        <div id="buttons" class="scrollable indented  current">
            <a href="#/myplate" class="button anchor margin-bottom">Edit</a></br>
        </div>
        </div>
    </article>
</section>

