
<section id="order" data-transition="slide" class="show">
    <header data-title="My Order" data-back="chevron-left">
        <nav class="left">
            <a href="#" data-view-section="back">
            <span class="icon chevron-left"></span>
            </a>
        </nav>
    </header>
    <nav class="groupbar">
        <a href="#/order/myorder" data-router="article" data-label="Current Order" class="active"></a>
        <a href="#/order/history" data-router="article" data-label="History" class=""></a>
    </nav>
      <article id="myorder" class="list scroll active">
       <div class="menu_details">
            <div class="menu_line">
            <div class="menu_order_1" style="background-color:#FF6633">Total order:(Tax 10.0%)</div>
                <div class="menu_order_2" style="background-color:#FF6633"></div>
                <div class="menu_order_3" style="background-color:#FF6633">$33.0</div>
            </div>
            <div class="menu_line" style="background-color:#CCCC99;font-size:14px;font-weight:bold"><h1 class="title"> Detail</h1></div>
            <div class="menu_line">
                <div class="menu_order_1">Crispy Sweet Poroto</div>
                <div class="menu_order_2">1</div>
                <div class="menu_order_3">$7.0</div>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Chicken Wings</div>
                <div class="menu_order_2">1</div>
                <div class="menu_order_3">$7.0</div>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Pasta with Olives and Parsley</div>
                <div class="menu_order_2">1</div>
                <div class="menu_order_3">$8.0</div>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Lemon Tea</div>
                <div class="menu_order_2">2</div>
                <div class="menu_order_3">$7.0</div>
            </div>
        </div>
        <div id="buttons" class="scrollable indented  current">
            <a href="#/homepage/login" class="button anchor margin-bottom">Buy Order</a></br>
            <a href="#/homepage/myorder" class="button anchor margin-bottom">Clear all Order</a>
        </div>
    </article>
     <article id="history" class="list scroll active" style="overflow: hidden;">
       <div class="menu_details">
            <div class="menu_line" style="background-color:#CCCC99;font-size:14px;font-weight:bold">
                <h1 class="title"> History</h1>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Crispy Sweet Poroto</div>
                <div class="menu_order_2">1</div>
                <div class="menu_order_3">$7.0</div>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Chicken Wings</div>
                <div class="menu_order_2">1</div>
                <div class="menu_order_3">$7.0</div>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Pasta with Olives and Parsley</div>
                <div class="menu_order_2">1</div>
                <div class="menu_order_3">$8.0</div>
            </div>
            <div class="menu_line">
                <div class="menu_order_1">Lemon Tea</div>
                <div class="menu_order_2">2</div>
                <div class="menu_order_3">$7.0</div>
            </div>
        </div>
    </article>
</section>

