<section id="superuser" data-transition="slide">
	<header data-title="LOGIN" class="extended">
		<nav class="box">
			<a href="#/homepage/list" data-router="section" data-label="BACK" class="icon chevron-left"></a>
		</nav>
	</header>
	  <nav class="groupbar">
        <a href="#/" data-router="article" data-label="Login" class="active"></a>
        <a href="#/homepage/myorder" data-router="article" data-label="MY ORDER" class=""></a>
        <a href="#/homepage/form-normal" data-router="article" data-label="RESERVATION" class=""></a>
    </nav>
    <!-- ============================================================= -->
	<article id="login" class="scroll active">
        <div class="form">
            <fieldset>
                 <input type="text" placeholder="Username" class="large text  bold align_center">
            </fieldset>
            <fieldset>
              <input type="text" placeholder="Password" class="large text  bold align_center">
            </fieldset>                
        </div>
        <div id="buttons" class="scrollable indented  current">
               <a href="#/adminreservation" class="button anchor margin-bottom">Login</a>
       </div>
            <p><a href="#" class="large text  bold align_center">forget password ?</a></p>
    </article>
    <!--=================================================================-->
    <footer>
        <nav>
            <a href="#layout-art1" data-router="article" data-icon="home" class=""></a>
            <a href="#layout-art2" data-router="article" data-icon="inbox" class=""></a>
            <a href="#layout-art4" data-router="article" data-icon="settings" class=""></a>
        </nav>
    </footer>
</section>